@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kullanıcı ID")
    @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserID)
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserName)
    <br />
    @Html.Label("Kullanıcı Soyadı")
    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserSurname)
    <br />
    @Html.Label("Kullanıcı mail")
    @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserMail)
    <br />
    @Html.Label("Kullanıcı şifresi")
    @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserPassword)
    <br />
    @Html.Label("Kullanıcı görsel linki")
    @Html.TextBoxFor(x => x.UserPhoto, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UserPhoto)
    <br />

    <button class="btn btn-dark">Değişiklikleri Uygula</button>

</div>

}

